@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #000;
}

/*Gerais
----------------*/
h3{
    color: white;
    text-transform: uppercase;
}

/*Classes
----------------*/
.bege{
    text-transform: uppercase;
    color: #a8a260;
}

.caixa-conteudo{
    background-color: #06192b67;
}

.caixa-menu{
    height: 275px;
    border: 1px solid #ffffff64;
}

.clientes{
    height: 550px;
    border: 1px solid #ffffff64;
    border-bottom: 0px;
}

.botao{
    color: white;
    border-radius: 0px;
    padding: 10px 25px;
    background-color: #a8a260;
}

.botao:hover{
    background-color: #bcb570;
}

.promocao{
    font-size: 12px;
    text-decoration: line-through;
}

/*Nav
----------------*/
nav{
    background-color: black;
}

#navegacao a, nav a{
    color: white;
    text-decoration: none;
    transition: 0.2s linear;
}

#navegacao a:hover{
    color: #a8a260;
    text-decoration: none;
    border-bottom: 1px solid #a8a260;
    padding-bottom: 2px;
    font-size: 17px;
}

nav a:hover{
    color: #a8a260;
}

/*Topo
----------------*/
#topo{
    height: 670px;

    padding-top: 50px;
    margin-bottom: 20px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: 1.2s linear;
    opacity: 0;
}

#topo #caixa-topo{
    transition: 1.3s linear;
    overflow: hidden;
    white-space: nowrap;
}

#topo .row{
    height: 600px;
}

#topo h3{
    color: white;
    font-weight: bold;
    font-size: 3em;
    max-width: 400px;
}

#topo p{
    color: white;
    font-weight: 100;
    line-height: 30px;
    max-width: 500px;
    padding: 10px 0;
}

/*Sobre
--------------*/
#sobre{
    padding-top: 120px;
    height: 900px;

    transition: 0.5s linear;
}

#sobre h3{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 30px;
}

#sobre .col-md-6{
    padding: 0;
}

#sobre .col-md-4 h3{
    padding-top: 10px;
    font-size: 1.75em;
    max-width: 310px;
    text-align: left;
}

#sobre .col-md-4 p{
    color: white;
    padding: 10px 0;
    font-weight: 100;
}

#sobre .caixa-conteudo div{
    height: 600px;
    padding: 20px 25px;
}

/*Menu
-----------*/
#menu{
    padding-top: 120px;
    height: 1000px;

    transition: 0.5s linear;
}

#menu img{
    margin-top: 15px;
    margin-bottom: 5px;
}

#menu h3{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 20px;
}

#menu h5{
    color: white;

    margin-top: 8px;
    margin-bottom: 0px;
}

#menu p{
    color: white;

    font-weight: 300;
    font-size: 28px;
}

/*Clientes
-----------*/
#clientes{
    height: 800px;
    padding-top: 120px;

    transition: 0.5s linear;
}
#clientes img{
    padding-top: 20px;
    padding-bottom: 10px;
}

#clientes img.img-clientes{
    border-radius: 100%;
}

#clientes h3{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 20px;
}

#clientes h5{
    color: white;

    margin-top: 0px;
    margin-bottom: 15px;
}

#clientes p{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-weight: 100;
}

/*Mapa
------------*/
#mapa{
    height: 600px;
    padding-top: 120px;

    transition: 0.5s linear;
}

#mapa h3{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 20px;
}

/*Links
------------*/
#links{
    height: 350px;
    padding-top: 120px;
    border-bottom: 1px solid #a8a260;
}

#links h5{
    text-align: center;
    color: white;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 10px;
}

#links p{
    padding-top: 10px;
    text-align: center;
}

#nav-links a{
    color: white;
}

#nav-links a:hover{
    color: #a8a260;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid #a8a260;
    font-size: 18px;
}

#links a{
    color: white;
}

#links a:hover{
    color: #a8a260;
}

#links p{
    color: white;
    font-weight: 100;
}

/*Rodape
-------------*/
footer{
    text-align: center;
    padding: 10px 0;
    height: 55px;
    font-size: 12px;
    color: #a8a260;
}

footer a{
    color: white;
}

footer a:hover{
    color: white;
}

/*Classes Animações JavaScript
-------------------------------*/
.invis{
    opacity: 0;
    filter: blur(15px);
}

.visi{
    opacity: 1;
    filter: blur(0px);
}

.invis-topo{
    opacity: 0;
    width: 0px;
    filter: opacity(0px);
}

.visi-topo{
    opacity: 1;
    width: 500px;
    filter: opacity(200px);
}
